*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #ff4b28, #ff228c);
}

.Container {
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);
}

.registration_form {
    margin-top: 50%;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

/* .upload {
    width: 140px;
    position: relative;
    margin: auto;
    text-align: center;
}

.upload img {
    border-radius: 50%;
    border: 8px solid #DCDCDC;
    width: 125px;
    height: 125px;
}

.upload .rightRound {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.upload .leftRound {
    position: absolute;
    bottom: 0;
    left: 0;
    background: red;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.upload .fa {
    color: white;
}

.upload input {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

.upload input::-webkit-file-upload-button, .upload input[type=submit] {
    cursor: pointer;
} */

.upload {
    position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-top: 2%;
        border-radius: 50%;
        border: 2px solid #fff;
        text-align: center;
        line-height: 150px;
        /* overflow: hidden; */
        background-image: url(images/profile_pic3.jpg);
        background-size: cover;

}

.upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1; /* Ensure the file input is on top of other elements */
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n) {
    justify-content: end;
}

.input-box label {
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus,:valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.input-box textarea {
    height: 50px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    resize: none; 
}

.input-box textarea:is(:focus,:valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.home_add, .com_add {
    margin-bottom: 1%;
}


.alert-text {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin: 5px 0;
    padding: 3px;
    line-height: 1.5;
}

.alert a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.alert a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #ccc;
}

.button-container {
    margin: 15px 0;
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#ff228c, #ff4b28);
    cursor: pointer;
    transition: 0.3S;
}

.button-container button:hover {
    background-image: linear-gradient(to right, #ff4b28, #ff228c);
}
/* 

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #252222, #e5dee1);
    padding: 20px;
}

h2 {
    font-weight: lighter;
    padding: 5px;
    background: linear-gradient(to right, #ff4b28, #ff228c);
}

.info_form_for_records {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
}

#home_address_name,
#company_address_name,
#home_map_link,
#company_map_link,
#facebook_link,
#instagram_link,
#linkedin_link,
#github_link {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
}

#home_address,
#company_address {
    width: 100%;
    resize: vertical;
}


input[type="text"],
input[type="email"],
input[type="tel"],

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ff4b2b;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #ff4b28, #ff228c);
    transition: 0.5s ease;
}

input:invalid {
    border-color: black;
}

input:invalid + span {
    color: red;
    font-size: 0.8em;
}

#full_name,
#email,
#phone_number,
#whatsapp_number,
#emergency_number {
    width: calc(50% - 10px);
}

#home_address_name,
#company_address_name,
#home_address,
#company_address {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}
 */
