/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #252222, #e5dee1);
    padding: 20px;
}

h2 {
    font-weight: lighter;
    padding: 5px;
    background: linear-gradient(to right, #ff4b28, #ff228c);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

/* Add this CSS to styles.css */

/* Profile picture styling */
#profile_picture {
    display: none; /* Hide the file input */
}

.profile-picture-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.profile-picture-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the circular space */
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ff4b2b;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #ff4b28, #ff228c);
    transition: 0.5s ease;
}

input:invalid {
    border-color: red;
}

input:invalid + span {
    color: red;
    font-size: 0.8em;
}

/* Optional: Styles for specific fields */
#full_name,
#email,
#phone_number,
#whatsapp_number,
#emergency_number {
    width: calc(50% - 10px);
}

textarea {
    width: 100%;
    resize: vertical; /* Allow vertical resizing */
}
